{% load static%}

{% include 'base_dashboard.html' %}
{% block content %}
<style>
    table {
            width: 100%;
            border-collapse: separate; /* Set border-collapse to separate */
            border-spacing: 0; /* Remove the space between cells */
            margin-top: 20px;
            border: 1px solid #F7EDFD;
            border-radius:10px ;

        }

        th, td {
            border: 1px solid #F7EDFD;
            padding: 8px;
            text-align: left;
        
        }
        .table thead th {
            border: none;
             color: #4C555D;
             font-size: 15px;
             font-weight: 600;
        }

        th {
            background-color: #F7EDFD;
            text-transform: uppercase;
            color: #4C555D;
            border: none; /* Remove border for th */
        }
        td {
            text-transform: capitalize;
            font-size: 14px;
        }

        /* Style for checkboxes */
        .checkbox-column {
            text-align: center;
        }
        th, td {
            border: none;
        }
        .assebutton{
            display: flex;
            gap: 10px;
        }
        td.tbname {
            color: #006FC8;
            text-transform:uppercase;
            text-decoration: none;
        }
        td.tbname a {
            text-decoration: none;
        }

        .pagination{
            float:right;
        }

        .select-button{
            border: 1px solid #CCCCCC;
            color: #7C7C7C !important;
            background-color: #FFFFFF;
            border-radius: 5px;
            padding: 0 6px;
            font-size: inherit;
            height:40px;
    
        }

        .asset-tablebtn button{
            border: 1px solid #CCCCCC;
            color: #7C7C7C !important;
            background-color: #FFFFFF;
            border-radius: 5px;
            padding: 0 20px;
            height: 40px;
        }

        span.select2-selection.select2-selection--single {
            height:38px !important;
        }

        section.assest-container-table {
            padding: 15px 30px;
            overflow-y: auto;
            max-height: 420px;
        }
</style>

<!-- Alert JS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Alert JS -->

<section class="assetdetail">
    <button onclick="goToConfirmOrderList()" style="border: none; margin-bottom: 10px; background-color: transparent;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #6A1B9A;transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 11h-5v4l-5-5 5-5v4h5v2z"></path></svg></button>

    <div class="assetheaderbuttones">
        <h1>Order Cart</h1>
        <div class="assebutton">
       
             
            <button ><a href="#" id="addNewOrderBtn" style="color: #fff; text-decoration: none;">+ Add New order</a></button>
            <button ><a href="/asset_management/add-new-customer/" style="color: #fff; text-decoration: none;">+ Add New Customer</a></button>

      
        </div>

    </div>
</section>

<section class="assest-container-table">

    <div class="asset-tablebtn">
        <div class="searchiconbtn" >
            {% comment %} <form method="GET">   
                <input name="q" id="search_field" type="text" placeholder="Search.." value="{% if query_params_q %} {{query_params_q}} {% endif %}" style = "padding-left: 10px; border-radius: 5px;">   
                <select name="q" id="secondDropdown" name="second_dropdown" style="display: none; height:10%;">
                    <!-- The options will be populated dynamically -->
                </select>
                <select class='select-button' id="dropdown" name="filter_type">
                    <option  disabled {% if query_params_filter_value == '' or query_params_filter_value is None  %} selected {% endif %} value='none' >--Select--</option>
                    <option {% if query_params_filter_value == 'brand' %} selected {% endif %} value="brand">Brand</option>
                    <option {% if query_params_filter_value == 'serial_no' %} selected {% endif %}  value="serial_no">Serial No.</option>
                    <option {% if query_params_filter_value == 'model_no' %} selected {% endif %} value="model_no">Model No.</option>
                    <option {% if query_params_filter_value == 'model_no' %} selected {% endif %} value="category">Category</option>
                </select>
            <button type='submit'>Search</button>
            <span><button onclick="clearSearch(event, 'search_field', 'dropdown', 'secondDropdown')">Clear</button></span>
            </form>             {% endcomment %}
        </div>
        <button id="exportButton">
            EXPORT TO CSV
        </button>
       

    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="checkbox-column" style="border-radius: 10px 0 0 0;">
                    <input type="checkbox" id="masterCheckbox" onclick="selectAllCheckboxes(this)">
                </th> 
                <th>Category</th>
                <th>Description</th>
                <th>Model no.</th>
                <th>Brand</th>
                <th>Serial no.</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for item in asset_obj %}
            <tr 
            style='background-color:#f4fbfa;'
            data-bs-target="#r{{ forloop.counter }}">
                <td class="checkbox-column"><input type="checkbox" name="asset_id" value="{{ item.id }}"></td>
                <td>{{ item.category }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.model_no }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.serial_no }}</td>
                <td>
                    <div class="book-status">
                        <button style="background: none; border: none; color: #E15F12; font-weight: 700;" 
                        onclick="removeFromCart({{item.id}})">Remove</button>
                    </div>
                </td>
                <td></td>

                
            </tr>
            {% for accessory in item.asset_accessories %}
         
            <tr  id="r{{ forloop.parentloop.counter }}" >
                <td class="checkbox-column"><input type="checkbox" name="asset_id" value="{{ accessory.id }}"></td>
                <td colspan="1">{{accessory.category}} {{ forloop.counter }}</td>
                <td colspan="1"> {{ accessory.description }}</td>      
                <td colspan="1"> {{ accessory.model_no }}</td>      
                <td colspan="1"> {{ accessory.brand }}</td>      
                <td colspan="1"> {{ accessory.serial_no }}</td>      
                <td colspan="1">
                    <div class="book-status">
                        <button style="background: none; border: none; color: #E15F12; font-weight: 700;" 
                        onclick="removeFromCart({{accessory.id}})">Remove</button>
                    </div>
                </td>      
                <td></td>
                    
            </tr>
            {% endfor %}
            {% endfor %}
            


        </tbody>
    </table>





<h1>Extra accessories</h1>
    <!-- ...................Extra accessories.......................... -->
    <table class="table">
        <thead>
            <tr>
                <th class="checkbox-column" style="border-radius: 10px 0 0 0;">
                    <input type="checkbox" id="masterCheckbox" onclick="selectAllCheckboxes(this)">
                </th>
                <th>Category</th>
                <th>Description</th>
                <th>Model no.</th>
                <th>Brand</th>
                <th>Serial no.</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            

            {% for accessory in excluded_obj %}
         
            <tr  id="r{{ forloop.counter }}" >
                <td class="checkbox-column"><input type="checkbox" name="asset_id" value="{{ accessory.id }}"></td>
                <td colspan="1">{{accessory.category}} {{ forloop.counter }}</td>
                <td colspan="1"> {{ accessory.description }}</td>      
                <td colspan="1"> {{ accessory.model_no }}</td>      
                <td colspan="1"> {{ accessory.brand }}</td>      
                <td colspan="1"> {{ accessory.serial_no }}</td>      
                <td colspan="1">
                    <div class="book-status">
                        <button style="background: none; border: none; color: #E15F12; font-weight: 700;" 
                        onclick="removeFromCart({{accessory.id}})">Remove</button>
                    </div>
                </td>      
                <td></td>
                    
            </tr>
            {% endfor %}

        </tbody>
    </table>


    <div class="pagidis">
    <div></div>
    <div class="card text-center" style="border: none;">
            <div class="card-footer text-body-secondary" style="background-color: #fff; border: none;" >
            Displaying all {{queryset_length}} assets
            </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if orders.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ orders.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ orders.number }} of  {{ orders.paginator.num_pages }}
            </span>
    
            {% if orders.has_next %}
                <a href="?page={{ orders.next_page_number }}">next</a>
                <a href="?page={{ orders.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
</section>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script>
    {% if messages %}
        {% for msg in messages %}
            alertify.set('notifier','position', 'top-right');
            alertify.success('{{msg}}');
        {% endfor %}
    {% endif %}
</script>

<script>
    // JavaScript function to select or unselect all checkboxes
    function selectAllCheckboxes(masterCheckbox) {
        var checkboxes = document.querySelectorAll('tbody input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = masterCheckbox.checked;
        });
    }
</script>



<script>
    function goToConfirmOrderList(){
        window.location.href = '/asset_management/confirmed-orders-list/'
    }
</script>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    
    $("#exportButton").on("click", function() {
        let spinner = ` <div id="spinner">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden"></span>
                </div>
              </div>
        </div> `
        $('#exportButton').html(spinner)

        // Selectes IDs
        var selectedAssetIds = $('input[name="asset_id"]:checked').map(function() {
            return this.value;
        }).get();


        $.ajax({
            type: "POST",
            url: "/asset_management/order-cart-export-to-csv/", 
            data: { selected_asset_ids: selectedAssetIds,
                "csrfmiddlewaretoken":"{{csrf_token}}" },
            success: function(data) {
                var blob = new Blob([data]);
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = "Internal Repair Export.csv";
                link.click();
                window.location.reload()
            },
            error: function(xhr, status, error) {
                // console.error(error);
            }
        });
    });
});
</script>



<script>
    document.getElementById('addNewOrderBtn').addEventListener('click', function() {
        var selectedOrderIds = [];
        var checkboxes = document.querySelectorAll('input[name="asset_id"]:checked');
        checkboxes.forEach((checkbox) => {
            selectedOrderIds.push(checkbox.value);
        });
        if (selectedOrderIds.length > 0) {
            window.location.href ='/asset_management/orders-form/?selectedOrderIds='+selectedOrderIds;            
        }
        else{
            alert('Please select at least one asset')
        }
    });
    
</script>



<script>
    function clearSearch(event, mySearchField, dropdown, secondDropdown ) {
        event.preventDefault();
        document.getElementById(mySearchField).value=''; 
        document.getElementById(dropdown).value = 'none';
        document.getElementById(secondDropdown).value = '';
        $('#secondDropdown').empty().hide();
        $('#secondDropdown').append('<option value="">--Select--</option>');
        
    }
</script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('#dropdown').change(function() {
            var selectedValue = $(this).val();
            if (selectedValue !== 'none') {
                $.ajax({
                    type: 'GET',
                    url: '/asset_management/order-cart-search/', 
                    data: {
                        'selected_value': selectedValue
                    },
                    success: function(data) {
                        // Update the second dropdown with fetched data
                        $('#secondDropdown').empty().show();
                        $('#secondDropdown').append('<option value="">--Select--</option>');
                        $.each(data, function(key, value) {
                            $('#secondDropdown').append('<option value="' + value + '">' + value + '</option>');
                        });
                        $('#secondDropdown').select2({
                            placeholder: 'Search...',                             
                        });
                        $('#search_field').hide();
                        $('#secondDropdown').select2({
                            dropdownAutoWidth: true,
                            width:"300px",
                        });
                    },
                    error: function(xhr, status, error) {
                    }
                });
            } else {
                // If the default option is selected, hide the second dropdown and show the input dropdown
                $('#secondDropdown').hide();
                $('#search_field').show();
            }
        });
    });
</script>




<script>
    function removeFromCart(id) {
        $.ajax({
            type: "POST",
            url: "/remove-from-order-asset/", 
            data: {
                'asset_id': id, 
                "csrfmiddlewaretoken":"{{csrf_token}}"
            },
            success: function(response) {
                window.location.reload()

            },
            error: function(xhr, status, error) {
                console.error("Error updating comment:", error);
            }
        });
    }
</script>



{% endblock content %}