<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Move Asset to Inventory Email</title>
</head>
<body>
    <p>Hi Zoom Communication Team,</p>
    <p>The order number "{{order_id}}" created by {{prepared_by_name}} with POC as “{{poc_at_venue_name}}” 
        is expected to return by “{{return_date}}”.</p>
    <ul>
        {% for asset_Inventory_obj in asset_master_inventory_list %}
            {% comment %} <li>{{ asset_Inventory_obj.asset_transfer }}</li> {% endcomment %}
            <li>
                <p>Asset Name: {{asset_Inventory_obj.asset_id__description}}</p>
                <p>Serial Number: {{asset_Inventory_obj.asset_id__serial_no}}</p>
                {% if asset_Inventory_obj.move_to_inventory == False %}
                <p>Remarks: Asset not moved to inventory.</p>
                {% else %}
                <p>Remarks: Asset moved to inventory.</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <p>“{{prepared_by_email}}” / “{{approver_email}}” - Please log-in to asset 
        master to make those assets available in inventory.</p>
    <p>Thanks,</p>
    <p>ERP Admin</p>
</body>
</html>
